// https://github.com/jgthms/bulma/issues/637

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Montserrat:300,400,700');


// Set your colors
$gray: #36434c;
$gray-dark: darken(#36434c, 10%);
$gray-invert: findColorInvert($gray);
$primary: #f99d1c;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$facebook: #4267B2;
$facebook-invert: findColorInvert($facebook);
$google-plus: #DB4437;
$google-plus-invert: findColorInvert($google-plus);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    white: ($white, $black),
    black: ($black, $white),
    light: ($light, $light-invert),
    dark: ($dark, $dark-invert),
    primary: ($primary, $primary-invert),
    info: ($info, $info-invert),
    success: ($success, $success-invert),
    warning: ($warning, $warning-invert),
    danger: ($danger, $danger-invert),
    twitter: ($twitter, $twitter-invert),
    facebook: ($facebook, $facebook-invert),
    google-plus: ($google-plus, $google-plus-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// Use the new serif family
$family-primary: 'Roboto';

img.has-padding {
  padding: 2rem;
}

p.has-padding {
  padding: 0.5rem;
}

footer .icon.has-padding {
  padding: 2rem;
}

.muted {
  color: #a2a2a2;
  font-size: 0.8rem;
}

section.is-dark {
    background-color: $gray;
    color: $gray-invert;
}

section.is-darker,
footer.is-darker {
    background-color: $gray-dark;
    color: whitesmoke;
}

.is-dark strong,
.is-darker strong {
  color: white;
}

.is-dark h1 {
  color: white;
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat';
}

.hero h1.title.is-1 {
  font-size: 4rem;
}



// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";
